* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    max-width: 700px;
    min-width: 400px;
    background-color: #853ff9;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2rem;
}

.header h1 {
    color: #ffffff;
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.header p {
    color: #ffffff88;
    font-size: 1.1rem;
}

.form-container{
    width: 100%;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-container h1{
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 2rem;
}

.form-container #survey-form{
    max-width: 700px;
    width: 100%;
    min-width: 400px;
    background-color: #212121;
    border-radius: 1rem;
    padding:2rem 4rem;
}

.form-fildes{
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
}

label,p{
    color: #666;
    margin-top: 20px;
}

.top-input input, #dropdown{
    width: 100%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow:inset 0 0 5px #00000048;
    margin-bottom: 1.5rem;
    outline: none;
}

input::placeholder{
    padding: 0 1rem;
}

#dropdown{
    padding: 0 1rem;
    color: #666;
}

textarea{
    width: 100%;
    margin: 1rem 0;
    display: block;
    padding: 0.3rem;
    border: none;
    box-shadow:inset 0 0 5px #00000048;
    border-radius: 5px;
}

#submit{
    height: 2.5rem;
    width: 100%;
    border-radius: 2.5rem;
    background-color: #853ff9;
    color: #ffffff;
    outline: none;
    border: none;
}